Registration form using Node Red.json
[{"id":"8f6b114.89a6ff","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"abc50d8b.ba88","type":"ui_form","z":"8f6b114.89a6ff","name":"","label":"","group":"385f3aac.6b3826","order":1,"width":0,"height":0,"options":[{"label":"Enter Name","value":"Name","type":"text","required":true,"rows":null},{"label":"Enter Email ID","value":"Email ID","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"Password","type":"password","required":true,"rows":null},{"label":"Enter Number","value":"Number","type":"number","required":true,"rows":null}],"formValue":{"Name":"","Email ID":"","Password":"","Number":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":320,"wires":[["ca917941.f87a38"]]},{"id":"4dc01868.7b83b8","type":"debug","z":"8f6b114.89a6ff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":320,"wires":[]},{"id":"ca917941.f87a38","type":"function","z":"8f6b114.89a6ff","name":"","func":"msg.payload = 'Hey ' + msg.payload.Name + ', Registration is Sucessful'\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":460,"wires":[["4dc01868.7b83b8","f48ba1a6.cb74e"]]},{"id":"f48ba1a6.cb74e","type":"ui_text","z":"8f6b114.89a6ff","group":"4564dd9.ddcbe24","order":2,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":640,"y":560,"wires":[]},{"id":"4bb51265.f2381c","type":"ui_text","z":"8f6b114.89a6ff","group":"8da32d61.dbcb","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":200,"wires":[]},{"id":"bc9f03dd.16b4a","type":"function","z":"8f6b114.89a6ff","name":"","func":"msg.payload = 'This is a Welcome Message.'\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["4bb51265.f2381c"]]},{"id":"2b3b0223.60d5ee","type":"inject","z":"8f6b114.89a6ff","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[["bc9f03dd.16b4a"]]},{"id":"385f3aac.6b3826","type":"ui_group","z":"","name":"Home","tab":"a4eeebc3.028a58","order":1,"disp":true,"width":"6","collapse":false},{"id":"4564dd9.ddcbe24","type":"ui_group","z":"","name":"Status","tab":"a4eeebc3.028a58","order":1,"disp":true,"width":"6","collapse":false},{"id":"8da32d61.dbcb","type":"ui_group","z":"","name":"Message","tab":"83145263.6624","order":1,"disp":true,"width":"6","collapse":false},{"id":"a4eeebc3.028a58","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","disabled":false,"hidden":false},{"id":"83145263.6624","type":"ui_tab","z":"","name":"Welcome","icon":"dashboard","disabled":false,"hidden":false}]