Simple Web Page using Node Red.json
[{"id":"f48e6479.3fbe98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"74f138da.3c7028","type":"http in","z":"f48e6479.3fbe98","name":"","url":"/basics","method":"get","upload":false,"swaggerDoc":"","x":220,"y":200,"wires":[["22c8e52a.b3a37a"]]},{"id":"22c8e52a.b3a37a","type":"template","z":"f48e6479.3fbe98","name":"Basic HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n\t<meta charset=\"utf-8\">\n\t<title>Project</title>\n</head>\n<body>\n\t<h1>Shivam Yadav</h1>\n\t<a href=\"https://www.google.com\" target=\"_blank\">One</a>\n\t<a href=\"https://www.coursera.org\" target=\"_blank\">Two</a>\n\t<a href=\"https://www.wikipedia.org\" target=\"_blank\">Three</a>\n\t<a href=\"https://www.youtube.com/\" target=\"_blank\">YouTube</a>\n\t<h2>Favorite Foods</h2>\n\t<ul>\n\t\t<li>Pizza</li>\n\t\t<li>Mango</li>\n\t\t<li>Chocolates</li>\n\t\t<li>Rice</li>\n\t</ul>\n\t<h2>Achievements</h2>\n\t<p>Progress in this course(100%)<progress value=\"100\" max=\"100\"></p>\n\t<p>Progress in the Specialization capstone(20%)<progress value=\"20\" max=\"100\"></p>\n\t<p>Progres in life goals(53%)<progress value=\"53\" max=\"100\"></p>\n\t<h2>More About Me</h2>\n\t<details>\n\t\t<summary>My Childhood</summary>\n\t\t<p>I born in Mumbai as wll as grew up in Mumbai. I like to play Cricket with my Friends.</p>\n\t</details>\n\t<p><img src=\"newlogo.png\" alt=\"Web Designing Symbol\">This page was created by Shivam Yadav & Colleen van Lent. To learn more about web design, visit <a href=\"http://www.intro-webdesign.com/\">Intro to Web Design</a> \n</body>\n</html>","output":"str","x":450,"y":260,"wires":[["92a7eae5.e8f668"]]},{"id":"92a7eae5.e8f668","type":"http response","z":"f48e6479.3fbe98","name":"","statusCode":"","headers":{},"x":690,"y":200,"wires":[]}]